/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(20, 20, 20);
    color: white;
  }
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .topnav .search-container {
    float: right;
    margin-top: 5px;
    border-radius: 5px;
  }
  .topnav input[type=text] {
    width:200px;
    padding: 7.5px;
    margin-top: 8px;
    font-size: 15px;
    border: 1px solid rgb(235, 240, 236);
  }
  .topnav .search-container button {
    float: right;
    padding: 7px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #4CAF50;
    font-size: 17px;
    border:none;
    cursor: pointer;
  }
  .topnav .search-container button:hover {
    background: #ccc;
  }
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }



  .contactimg{
    background-color: rgb(40, 47, 107);
  }



  html {
    box-sizing: border-box;
    margin: 0;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  .column {
    float: left;
    width: 31%;
    padding: 0 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
  }
  .container {
    text-align: center;
    padding: 0 16px;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .title {
    color: grey;
  }
  .button {
    border-radius: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #2abb2f;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .button:hover {
    background-color: #555;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
  }




  @import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');
/* ------------- */
/* GLOBAL STYLES */
/* ------------- */
.container {
  box-sizing: border-box;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.company-info ul {
  list-style: none;
  padding: 0;
}
.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.brand span {
  color: #ffffff;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}
.wrapper > * {
  padding: 1em;
}
/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */
.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
/* ------- */
/* CONTACT */
/* ------- */
.contact h3{
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* ---- */
/* FORM */
/* ---- */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact form label {
  display: block;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1 / 3;
}
.contact form button,
.contact form input,
.contact form textarea {
  width: 90%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}
.contact form textarea {
  resize: none;
}
.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}
/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .company-info {
    border-radius: 4px 0 0 4px;
  }
  .contact {
    border-radius: 0 4px 4px 0;
  }
  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}




.footer {
  width: 100%;
  background: #00121b;
  display:block;
}
.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.footer-items h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}
.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}
.footer-items h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}
.border {
  height: 2px;
  width: 40px;
  background: #ff9800;
}
.footer ul {
  list-style: none;
  color:#fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.footer ul a {
  text-decoration: none;
  outline: none;
  color:#fff;
  transform: 0.3s;
}
.footer ul a:hover {
  color: #ff9800;
}
.footer ul li {
  margin:5px 0;
  height: 25px;
}
.footer li i {
  margin-right: 20px;
}
.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
}
.social-media a {
  text-decoration: none;
}
.social-media i {
  height: 15px;
  width: 15px;
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom:10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.5s;
}
.social-media i:hover {
  background: rgb(22, 247, 108);
}
.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}
